@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
* Apple - apple.com
* SF Pro Display used on apple.com as of iPhone 7 (RED) launch (March 21st 2017)

usage:
  -   font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  - tailwindcss config: 
      + fontFamily: {
         sf: ["SF Pro Display", "sans-serif"],
        }
      + tailwindcss usage: class="font-sf"
  
  - known issues:
      - Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.woff' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
         index.html:1 Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.ttf' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
        index.html:1 Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.woff' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
        index.html:1 Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.ttf' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
*/

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 100";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 200";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 300";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 500";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 600";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 700";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 800";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display 900";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.eot");
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 100;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 100;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 100";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 200;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 200;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 200";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 300;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 300";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 400;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 500;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 500";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 600;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 600";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 700;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 700";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 800;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 800;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 800";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 900;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 900;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black-italic.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black-italic.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text 900";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.eot");
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 300;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Icons 300";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 500;
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Icons 500";
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 400;
  src: url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.eot");
  src: local("☺︎"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.woff")
      format("woff"),
    url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.ttf")
      format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}
